H3 {
	font-family: "Times New Roman", Times, serif;
	color: #C30000;
	font-size:20px;
}

.tabHeader {
	background-color:#ffcc33; 
	color:#000000; 
	font-weight: bold; 
}

A.lr { 
	font-size: 8pt 
}
.goodFeedback { 
	font-weight: bold; color: green
}

.badFeedback { 
	font-weight: bold; color: red 
}

.foip { 
	color:#444444 ; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px
}

TABLE, TD, TR { 
	font-family: Arial, Helvetica, sans-serif; font-size: 12px
}

.subdiv {
	background-color: #ffcc33; text-align: center; font-weight:bold; border: 1px solid black;
}