<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>UC Perfomance Link</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<style type="text/css">
<!--
H3 {
	font-family: "Times New Roman", Times, serif;
	color: #C30000;
	font-size:20px;
}
.tabHeader {
	background-color:#ffcc33; 
	color:#000000; 
	font-weight: bold; 
}
A.lr { font-size: 8pt }
.goodFeedback { font-weight: bold; color: green }
.badFeedback { font-weight: bold; color: red }
.foip { color:#444444 ; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
TABLE, TD, TR { font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.subdiv { background-color: #ffcc33; text-align: center; font-weight:bold; border: 1px solid black; }
-->
</style>
<script language="Javascript" type="text/javascript">
<!--
function initCursor() {
	if (document.forms[0]) { // avoid JS errors
		if (document.forms[0].elements[0]) { // avoid JS errors
			i=0
			while (i < document.forms[0].elements.length && document.forms[0].elements[i].type=="hidden") i+=1;
			setTimeout("document.forms[0].elements[i].focus()",100)
		}
	}
}
var submitcount=0
function processForm() {
	submitcount++
	return (submitcount == 1)
}
var popUpWin=0;
function popUpWindow(URLStr, left, top, width, height)
{
  if(popUpWin)
  {
    if(!popUpWin.closed) popUpWin.close();
  }
  popUpWin = open(URLStr, 'UCPL', 'toolbar=no,location=yes,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=yes,width='+width+',height='+height+',left='+left+', top='+top+',screenX='+left+',screenY='+top+'');
}

// -->
</script>

<SCRIPT language=JavaScript src="/UCPL/menu/milonic_src.js" type=text/javascript></SCRIPT>
<script	language=JavaScript>
	if(ns4)_d.write("<scr"+"ipt language=JavaScript src=/UCPL/menu/mmenuns4.js><\/scr"+"ipt>");		
	  else _d.write("<scr"+"ipt language=JavaScript src=/UCPL/menu/mmenudom.js><\/scr"+"ipt>"); 
	</script>
<SCRIPT language=JavaScript src="/UCPL/menu/ucpl_menu.php?manager=1&jpc=1" type=text/javascript></SCRIPT>

</HEAD>
<BODY text=#000000 vLink=#6600cc aLink=#0000ff link=#0000ff bgColor=#ffffff onload="initCursor()">
<!------------------------------------------------------------------------------------------------->
<!--Banner : menubar, company logo-->
<!------------------------------------------------------------------------------------------------->
<DIV align=center><NOBR><IMG height=26 alt="" src="/UCPL/images/blkbar.gif" width=774></NOBR><BR>
  <NOBR><IMG height=76 alt="University of Calgary" src="/UCPL/images/logoucfs.gif" width=290 border=0>
<IMG alt="UC Performance Link" src="/UCPL/images/logohr.gif" width=474 height=76 border=0></NOBR><BR>
  <BR>
</DIV>
<!------------------------------------------------------------------------------------------------->
<!--Middle section-->
<!------------------------------------------------------------------------------------------------->
<DIV align=center>
  <TABLE cellSpacing=0 cellPadding=0 width=774 border=0>
    <TBODY>
      <TR>
        <!------------------------------------------------------------------------------------------->
        <!--Vertical menu-->
        <!------------------------------------------------------------------------------------------->
        <TD vAlign=top align=left width=120 background="images/bgleft.gif">
		<FONT face="Arial, Helvetica, sans-serif" size=2>
          <HR>
		  King Huang<br>Job Profile Coordinator<br>2012/2013
		  <HR>
          <BR>
          <a href="page.php?pg=overview" class="nav" >About UCPL</a><br><br><a href="page.php?pg=feedbackoverview" class="nav" >Feedback Process Overview</a><br><br><a href="page.php?pg=faq" class="nav" >FAQ</a><br><br><a href="pdf/Core Competency Descriptor Bank.pdf" class="nav" target=_blank>Core Competency Descriptors</a><br><br><a href="page.php?pg=userguides" class="nav" >User Guides</a><br><br><a href="page.php?pg=bulletins" class="nav" >UCPL Bulletins</a><br><br><a href="pdf/UCPL process overview.pdf" class="nav" >UCPL Process Overview</a><br><BR>
          <BR>
          </FONT></TD>
        <TD width=20 background="images/bgmiddle.gif"><BR></TD>
        <!------------------------------------------------------------------------------------------->
        <!--Content-->
        <!------------------------------------------------------------------------------------------->
        <TD vAlign=top width=654><FONT face="Arial, Helvetica, sans-serif" size=2>
        <form name="form1" action="/UCPL/jpdel.php?jpid=6554&confirm=1" method="post">Delete <b>Portfolio Manager</b>?<p><input type="submit" name="submit" value="Delete"></form>
		</FONT></TD>
      </TR>
    </TBODY>
  </TABLE>
</DIV>
<!------------------------------------------------------------------------------------------------->
<!--Footer : text links, copyright, modified date-->
<!------------------------------------------------------------------------------------------------->
<DIV align=center>
  <HR width=774 noShade SIZE=3>
  <FONT face="Arial, Helvetica, sans-serif" size=1><NOBR></NOBR> <NOBR>Copyright  2003-2004 <A 
href="http://www.ucalgary.ca/hr/index.html">Human Resources</A>, <A 
href="http://www.ucalgary.ca/">University of Calgary</A></NOBR><BR>
  <NOBR></NOBR></FONT></DIV>
  
</BODY>
</HTML>
