<!------------------------------------------------------------------------------------------------->
<!--Banner : menubar, company logo-->
<!------------------------------------------------------------------------------------------------->
<DIV align=center><NOBR><IMG height=26 alt="" src="/UCPL/images/blkbar.gif" width=774></NOBR><BR>
  <NOBR><IMG height=76 alt="University of Calgary" src="/UCPL/images/logoucfs.gif" width=290 border=0>
<IMG alt="UC Performance Link" src="/UCPL/images/logohr.gif" width=474 height=76 border=0></NOBR><BR>
  <BR>
</DIV>
<!------------------------------------------------------------------------------------------------->
<!--Middle section-->
<!------------------------------------------------------------------------------------------------->
<DIV align=center>
  <TABLE cellSpacing=0 cellPadding=0 width=774 border=0>
    <TBODY>
      <TR>
        <!------------------------------------------------------------------------------------------->
        <!--Vertical menu-->
        <!------------------------------------------------------------------------------------------->
        <TD vAlign=top align=left width=120 background="images/bgleft.gif">
		<FONT face="Arial, Helvetica, sans-serif" size=2>
          <HR>
		  King Huang<br>Job Profile Coordinator<br>2012/2013
		  <HR>
          <BR>
          <a href="page.php?pg=overview" class="nav" >About UCPL</a><br><br><a href="page.php?pg=feedbackoverview" class="nav" >Feedback Process Overview</a><br><br><a href="page.php?pg=faq" class="nav" >FAQ</a><br><br><a href="pdf/Core Competency Descriptor Bank.pdf" class="nav" target=_blank>Core Competency Descriptors</a><br><br><a href="page.php?pg=userguides" class="nav" >User Guides</a><br><br><a href="page.php?pg=bulletins" class="nav" >UCPL Bulletins</a><br><br><a href="pdf/UCPL process overview.pdf" class="nav" >UCPL Process Overview</a><br><BR>
          <BR>
          </FONT></TD>
        <TD width=20 background="images/bgmiddle.gif"><BR></TD>
        <!------------------------------------------------------------------------------------------->
        <!--Content-->
        <!------------------------------------------------------------------------------------------->
        <TD vAlign=top width=654><FONT face="Arial, Helvetica, sans-serif" size=2>
        <!--<form name="form1" method="{method}" action="{action}">Delete <b>Portfolio Manager</b>?<p><input type="button" name="submit" value="Delete" onclick="deleteProfile('{doc._id}')"></form>-->
        <form name="form1" method="{method}" action="{action}">Delete <b>Portfolio Manager</b>?<p><input type="submit" name="submit" value="Delete"></form>
		</FONT></TD>
      </TR>
    </TBODY>
  </TABLE>
</DIV>
<!------------------------------------------------------------------------------------------------->
<!--Footer : text links, copyright, modified date-->
<!------------------------------------------------------------------------------------------------->
<DIV align=center>
  <HR width=774 noShade SIZE=3>
  <FONT face="Arial, Helvetica, sans-serif" size=1><NOBR></NOBR> <NOBR>Copyright  2003-2004 <A 
href="http://www.ucalgary.ca/hr/index.html">Human Resources</A>, <A 
href="http://www.ucalgary.ca/">University of Calgary</A></NOBR><BR>
  <NOBR></NOBR></FONT></DIV>
  
